.button {
	display: inline-block;
	border: 1px rgb(100,100,100) solid;
	font-size: 2em;
	padding: 0.35em;
}

.button:active {
	background-color: rgb(100,100,100);
}

.secondpage {
	display: none;
}

TextArea {
	height:10em;
	width: 100%;
	text-wrap:normal;
}

TextArea:active {
	transform: translateY(-20em);
}

.send {
	border: none;
	background-color: rgba(100,100,100,0.2);
	font-size: 2em;
	padding: 0em;
	padding-top:0.2em ;
	padding-bottom:0.2em;
	bottom: 0px;
	width: 100%;
	color: white;
}